<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <footer class="footer">
        <div class="container">
            
            <div class="footer-col">
                <h3>THÔNG TIN</h3>
                <p>Địa chỉ: 69/68 Đặng Thùy Trâm, Phường Bình Lợi Trung, TP HCM</p>
                <p>Điện thoại: 0901430191</p>
                <p>Email: vlusneaker@gmail.com</p>
            </div>

            <div class="footer-col">
                <h3>CHÍNH SÁCH HỖ TRỢ</h3>
                <ul>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Chính sách vận chuyển</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Quy định sử dụng</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h3>LIÊN KẾT</h3>
                <p>Hãy kết nối với chúng tôi.</p>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="footer-col">
                <h3>FANPAGE</h3>
            </div>

        </div>
    </footer>
</body>
</html>