<header class="header">
    <div class="top-header">
        <div class="logo">
            <a href="/index.html">
                <img src="images/logo.jpg" alt="Logo">
            </a>
        </div>

        <div class="header-icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="/login.html"><i class="fa-regular fa-user"></i></a>
            <a href="/cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="/index.html">TRANG CHỦ</a></li>
            <li><a href="/product.html">TẤT CẢ SẢN PHẨM</a></li>
            <li><a href="/event.html">Event & Flash deals</a></li>
            <li><a href="/accessories.html">PHỤ KIỆN</a></li>
            <li><a href="/about.html">GIỚI THIỆU</a></li>
            <li><a href="/news.html">TIN TỨC</a></li>
            <li><a href="/contact.html">LIÊN HỆ</a></li>
        </ul>
    </nav>
</header>